@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.background{
  
    background-image: url("/images/background.jpg");
  
}

.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* position: relative; */
}

.products-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.proceed-link{
  text-decoration: none;
}
.btn-proceed {
  background: teal;
  width: 90%;
  height: 56px;
  font-size: 21px;
  margin: 10px auto;
  border-radius: 4px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination{
  text-align: center;
  margin-bottom: 40px;
}
.pagination button{
  margin-right: 10px;
}
.pagination .selected{
  background-color: teal;
}

/* .default-color{
  color: #0191D0;
  
} */

@tailwind base;
@tailwind components;
@tailwind utilities;